# Homework 5

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/wenhuizeng/Library/Mobile Documents/com~apple~CloudDocs/high performance/week4/homework/healthcare2/patient.csv',nrows=100)
df.columns
df.dtypes

PatientID        int64
FirstName       object
LastName        object
State           object
ZipCode          int64
DateOfBirth     object
Gender          object
Race            object
Income         float64
dtype: object

In [4]:
col_type = df.dtypes.to_dict()
col_type

{'PatientID': dtype('int64'),
 'FirstName': dtype('O'),
 'LastName': dtype('O'),
 'State': dtype('O'),
 'ZipCode': dtype('int64'),
 'DateOfBirth': dtype('O'),
 'Gender': dtype('O'),
 'Race': dtype('O'),
 'Income': dtype('float64')}

In [5]:
df.head()

,PatientID,FirstName,LastName,State,ZipCode,DateOfBirth,Gender,Race,Income
0,1,Diana,Huddleston,WI,53186,1962-02-27,female,NaN,1076.167979
1,2,Marion,Poston,IL,60527,1859-09-11,male,white,475.781094
2,3,Sandra,Hamby,IL,60126,1946-02-15,female,white,30.747987
3,4,Mildred,Krehbiel,ID,83702,1979-07-27,female,white,160.596425
4,5,Abigail,Flores,PA,19131,1983-02-19,female,?,NaN

In [6]:
col_type['State'] = 'category'
col_type['Race'] = 'category'
col_type['Gender'] = 'category'

In [7]:
data = pd.read_csv('/Users/wenhuizeng/Library/Mobile Documents/com~apple~CloudDocs/high performance/week4/homework/healthcare2/patient.csv',dtype=col_type)
data['DateOfBirth']=pd.to_datetime(data['DateOfBirth'],format='%Y/%m/%d')
data.dtypes

PatientID               int64
FirstName              object
LastName               object
State                category
ZipCode                 int64
DateOfBirth    datetime64[ns]
Gender               category
Race                 category
Income                float64
dtype: object

In [8]:
data.info(memory_usage='deep') 
data.memory_usage(deep=True) 
data.memory_usage(deep=True).sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 9 columns):
PatientID      20000 non-null int64
FirstName      20000 non-null object
LastName       20000 non-null object
State          20000 non-null category
ZipCode        20000 non-null int64
DateOfBirth    19000 non-null datetime64[ns]
Gender         19431 non-null category
Race           19144 non-null category
Income         18600 non-null float64
dtypes: category(3), datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 3.1 MB

3227666

In [9]:
data1 = pd.read_csv('/Users/wenhuizeng/Library/Mobile Documents/com~apple~CloudDocs/high performance/week4/homework/healthcare2/patient.csv')
data1.dtypes

PatientID        int64
FirstName       object
LastName        object
State           object
ZipCode          int64
DateOfBirth     object
Gender          object
Race            object
Income         float64
dtype: object

In [10]:
data1.info(memory_usage='deep') 
data1.memory_usage(deep=True) 
data1.memory_usage(deep=True).sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 9 columns):
PatientID      20000 non-null int64
FirstName      20000 non-null object
LastName       20000 non-null object
State          20000 non-null object
ZipCode        20000 non-null int64
DateOfBirth    19000 non-null object
Gender         19431 non-null object
Race           19144 non-null object
Income         18600 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 7.6 MB

7939942

In [64]:
diff = (data1.memory_usage(deep=True).sum()-data.memory_usage(deep=True).sum())/data1.memory_usage(deep=True).sum()
diff

0.5934899776345973

## Save the date into datetime could save more space than string. Save State, Race,Gender as categorical variable help save 60% of the memory

## OutpatientVisit.csv file.

In [1]:
outpatient = pd.read_csv('/Users/wenhuizeng/Library/Mobile Documents/com~apple~CloudDocs/high performance/week4/homework/healthcare2/OutpatientVisit.csv',nrows=100)
outpatient.columns
outpatient.dtypes

NameError: name 'pd' is not defined

In [98]:
col = outpatient.dtypes.to_dict()
col

{'VisitID': dtype('int64'),
 'StaffID': dtype('int64'),
 'PatientID': dtype('int64'),
 'VisitDate': dtype('O'),
 'ICD10_1': dtype('O'),
 'ICD10_2': dtype('O'),
 'ICD10_3': dtype('float64'),
 'ClinicCode': dtype('int64')}

In [99]:
outpatient.head()

,VisitID,StaffID,PatientID,VisitDate,ICD10_1,ICD10_2,ICD10_3,ClinicCode
0,1,46,1,2013-08-10,E10621,K269,NaN,15
1,2,50,1,2013-12-02,K269,E10621,NaN,55
2,3,13,1,2014-06-29,E10621,K269,NaN,1
3,4,23,1,2014-09-19,K269,E10621,NaN,3
4,5,9,1,2015-05-29,K269,E10621,NaN,5

In [103]:
col['ICD10_1'] = 'category'
col['ICD10_2'] = 'category'
col['ICD10_3']= 'category'
col

{'VisitID': dtype('int64'),
 'StaffID': dtype('int64'),
 'PatientID': dtype('int64'),
 'VisitDate': dtype('O'),
 'ICD10_1': 'category',
 'ICD10_2': 'category',
 'ICD10_3': 'category',
 'ClinicCode': dtype('int64')}

In [105]:
outpatient1 = pd.read_csv('/Users/wenhuizeng/Library/Mobile Documents/com~apple~CloudDocs/high performance/week4/homework/healthcare2/OutpatientVisit.csv',dtype=col)
outpatient1['VisitDate']=pd.to_datetime(outpatient1['VisitDate'],format='%Y/%m/%d')
outpatient1.dtypes

VisitID                int64
StaffID                int64
PatientID              int64
VisitDate     datetime64[ns]
ICD10_1             category
ICD10_2             category
ICD10_3             category
ClinicCode             int64
dtype: object

In [106]:
outpatient1.info(memory_usage='deep') 
outpatient1.memory_usage(deep=True) 
outpatient1.memory_usage(deep=True).sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174690 entries, 0 to 174689
Data columns (total 8 columns):
VisitID       174690 non-null int64
StaffID       174690 non-null int64
PatientID     174690 non-null int64
VisitDate     173252 non-null datetime64[ns]
ICD10_1       174690 non-null category
ICD10_2       59785 non-null category
ICD10_3       19362 non-null category
ClinicCode    174690 non-null int64
dtypes: category(3), datetime64[ns](1), int64(4)
memory usage: 8.2 MB

8582636

In [107]:
outpatient2 = pd.read_csv('/Users/wenhuizeng/Library/Mobile Documents/com~apple~CloudDocs/high performance/week4/homework/healthcare2/OutpatientVisit.csv')
outpatient2.info(memory_usage='deep') 
outpatient2.memory_usage(deep=True) 
outpatient2.memory_usage(deep=True).sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174690 entries, 0 to 174689
Data columns (total 8 columns):
VisitID       174690 non-null int64
StaffID       174690 non-null int64
PatientID     174690 non-null int64
VisitDate     173252 non-null object
ICD10_1       174690 non-null object
ICD10_2       59785 non-null object
ICD10_3       19362 non-null object
ClinicCode    174690 non-null int64
dtypes: int64(4), object(4)
memory usage: 39.7 MB

41612549

In [108]:
diff = (outpatient2.memory_usage(deep=True).sum()-outpatient1.memory_usage(deep=True).sum())/outpatient2.memory_usage(deep=True).sum()
diff

0.7937488520590267

## Save the Visit date into datetime could save more space than string. Save ICD10_1,ICD10_2,ICD10_3 as categorical variable help save 80% of the memory